* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.slider {
    width: 100%;
    max-width: 750px;
    height: 340px;
    overflow: hidden;
    position: relative;
    margin: 2rem auto;
    /* Centraliza o carrossel */
}

.slides {
    display: flex;
    width: 300%;
    transition: margin-left 1.0s ease;
}



.slide {
    width: 100%;
}

.slide img {
    padding: 30px;
    width: 100%;
    height: auto;
}

#radio1:checked~.slides {
    margin-left: 0;
}

#radio2:checked~.slides {
    margin-left: -100%;
}

